body, html {
  background: lighten($grey, 10%);
  color: $dark;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  padding: 0;
  margin: 0;
}
.page-wrap {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  &:after {
    content: "";
    display: block;
  }
}
.clearfix {
  clear: both;
}
@media screen and (min-width: $S) {
  .content {
    background: $base;
  }
}
@media screen and (min-width: $M) {
  .page-wrap {
    padding-left: 25px;
    padding-right: 25px;
  }
}

