.alert {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.danger {
  background: lighten($danger, 10%);
  border: 1px solid $danger;
}
.warning {
  background: lighten($warning, 15%);
  border: 1px solid $warning;
}
.success {
  background: lighten($success, 10%);
  border: 1px solid $success;
}
.info {
  background: lighten($info, 15%);
  border: 1px solid $info;
}
