input[type="submit"] {
  @include font-size(16px);
  background: $base;
  padding: 10px;
  float: right;
  outline: none;
  border: 1px solid $grey;
  color: $grey;
  &:hover {
    color: $dark;
    border-color: $dark;
  }
}
a.test-button {
  margin: 5px;
  padding: 10px;
  border: 1px solid $grey;
  color: $grey;
  &:hover {
    color: $red;
    border-color: $red;
  }
}
