.pagination {
  text-align: center;
  margin: 30px 20px;
  padding-bottom: 20px;
  span {
    border: 1px solid $grey;
    padding: 5px 0;
    &:hover {
      border: 1px solid $red;
    }
  }
}
.pagination span {
  color: $grey;
  padding: 10px;
  &:hover {
    color: $red;
  }
}
.newer {
  float: left;
}
.older {
  float: right;
}
span.disabled {
  padding: 5px 0;
  border: none;
  &:hover {
    border: none;
  }
}
