ol {
  text-align: left;
  li {
    padding-bottom: 15px;
  }
}
ol li p {
  &:before {
    padding-right: 5px;
    font-weight: 300;
    content: "\00d7";
  }
}
.last-line {
  padding-top: 30px;
  font-style: italic;
  text-align: right;
}
