.projects {
  display: block;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.projects-list {
  margin: 0 calc(50% - 330px);
  display: block;
  a {
    display: block;
    float: left;
    img {
      display: block;
      height: 220px;
      width: 220px;
    }
  }
}
