.projects {
  display: block;
  margin: 10px auto;
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.projects-list {
  vertical-align: top;
  margin: 0 auto;
  a {
    vertical-align: top;
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border: 1px solid $grey;
    height: 300px;
    width: auto;
    max-width: 250px;
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
