footer {
  background: $base;
  width: 100%;
  margin: 10px 0 0 0;
}
footer .links {
  text-align: center;
  display: inline;
}
.links  ul li {
  margin: 0;
  display: inline;
  padding: 0 5px;
  &:after {
    font-weight: 300;
    content: "\00d7";
    padding-left: 10px;
  }
  &:last-child {
    &:after {
      content: '';
    }
  }
}
.links ul li a {
  color: $dark;
  &:hover {
    color: $red;
  }
}
.blog-links {
  font-weight: 600;
  padding: 40px 0 15px 0;
  border-bottom: 1px dashed $grey;
  margin-left: 10%;
  margin-right: 10%;
}
.other-links {
  padding-top: 10px;
}
