form {
  padding-bottom: 30px;
  @include font-size(14px);
  label {
    display: block;
    text-align: left;
    font-weight: 600;
  }
  input[type="text"],
  input[type="password"],
  textarea#context,
  select {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    display: block;
    margin: 10px 0;
    width: 100%;
  }
}
