/* breakpoints */
$S: 600px;
$M: 700px;
$L: 850px;
$XL: 1200px;

/* colors */
$base: #ffffff;
$grey: #9f9e9e;
$red: #9A151A;
$dark: #343435;
$bg: #f0f2f1;

/* nav variables */
$base-nav: $dark;
$extra-nav: $base;

/* footer variables */
$base-footer: $dark;
$extra-footer: $grey;


/* alerts color */
$info: #2790B0;
$danger: #E6324B;
$warning: #FC930A;
$success: #94BA65;
