/* breakpoints */
$S: 600px;
$M: 700px;
$L: 820px;
$XL: 1300px;

/* colors */
$base: #f6f6f6;
$grey: #b4b3b3;
$red: #9A151A;
$dark: #343435;

/* nav variables */
$base-nav: $dark;
$extra-nav: $base;

/* footer variables */
$base-footer: $dark;
$extra-footer: $grey;
